
@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Anton|Archivo+Narrow|Fira+Sans|Noto+Serif');

::-webkit-scrollbar {
    display: none;
}



* {

    margin: 0;

    padding: 0;

}



html,

body {

    width: 100%;

    height: 100%;

}



body {

    font-family: 'Noto Sans KR', sans-serif;

}



ul {

    list-style: none;

}



a {

    text-decoration: none;

}



.Wrap {

    -ms-overflow-style: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;


}


.loading {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4d4844;
    box-sizing: border-box;
    padding-top: 400px;
    cursor: pointer;
}


img {
    display: block;
    width: 100%;
    height: 100%;
}





.pageWrap {

    width: 100%;

    height: 100%;

}





.loading img {

    display: block;

    width:auto;

    height: 100%;

    position: absolute;
    left: 50px;
    top:0;
    



}



.as1 {

    width: auto;

    height: 100%;

    background-color: #ffffff;

    position: fixed;

    z-index: 999;
}

.asWrap {

    width: 80px;

    height: 100%;

    border-right: 2px solid #999;

    box-shadow: 2px 0 2px #ddd;

    position: relative;

    padding-top: 20px;

    z-index: 9999;

    padding-left: 20px;
    background-color: #fff;
    box-sizing: border-box;
}

.logo {

    display: block;

    width: 80px;

    height: 78px;

    background-image: url(images1/fv_01.png);

    position: absolute;

    left: 0;

    background-repeat: no-repeat;

    background-position: center top;

    background-size: 66px;
}

.open {

    width: 860px;

    height: 103%;

    position: absolute;

    float: left;

    top: 0;

    /* margin-top: -20px; */

    /* margin-left: -1000px; */

    box-sizing: border-box;

    padding: 50px;

    transition: 1s;

    background-color: #0a0a42;

    left: -1000px;
}

.open.on {

    left: 80px;
    top: 0;
}





.ck1 {

    display: block;

    width: 68px;

    height: 120px;


    left: 3px;

    font-weight: bold;

    position: absolute;

    top: 500px;

    cursor: pointer;

    transition: 0.5s;
    color: #ddd;

    text-shadow: 1px 2px 0 #333;

    text-align: center;

    font-size: 20px;
    display: block;

}




.ck1:hover {

    color: #458f54;

}



.meTit {

    font-size: 20px;

    color: #eee;

}

.menu {

    width: 100%;

    height: 100%;

}



.menu li {

    line-height: 40px;

}





.menu li a {

    font-size: 40px;

    color: #ffffff;

    font-weight: bold;

}



.contact {
    font-size: 20px;
    position: absolute;
    color: #fff;
    top: 470px;

}



.menuWrap .hcon {

    display: block;

    width: 0;

    height: 20px;

    background-color: #458f54;

    transition: 0.5s;

}

.tot {
    color: #fff;
}

.git {
    display: block;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

#op {

    display: none;

}

.menu li:hover a {

    color: #458f54;

}

.menu li:hover .hcon {

    display: block;

    width: 300px;

}

h2.num.pg00 {
    text-indent: 84px;
}

h2.num.pg00:after {
    left: 165px;
}




.main {

    width: 100%;

    float: right;

    height: 100%;

    /* margin-top: 60px; */

    position: relative;


}

.contentWrap {
    width: 400%;
    height: 100%;
}

.content {
    width: 25%;
    height: 100%;
    float: left;
}

.pgTit {
    font-family: 'Nanum Myeongjo', serif;

}

.area1 {
    width: 100%;
    height: 900px;
}

#visual {
    background-image: url(images1/bg1.png);
    background-attachment: fixed;

    /* height: 450px; */
    box-sizing: border-box;
}

.pgWrap {
    width: 1280px;
    height: 76%;
    margin: 300px auto;
    padding: 20px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    box-sizing: border-box;
}


#visual .pgWrap {
    background-position: left center;
    background-image: url(images1/bgcon.svg);
    background-size: 52%;
    opacity: 0;
}

#visual .pgTit {
    color: #222;
    font-weight: lighter;
    float: left;
    font-size: 33px;
    display: block;
    height: 200px;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    /* position: absolute; */
    /* top: 366px; */
    /* left: 339px; */
}

#visual .pgTit strong {
    font-weight: 900;
}

#visual .pgTit:after {
    display: block;
    content: "";
    position: absolute;
    width: 90%;
    top: 203px;
    left: -89px;
    height: 16px;
    background-color: #148c0c;
}

.textWrap {
    width: 44%;
    height: 500px;
    position: absolute;
    top: 130px;
    box-sizing: border-box;
    padding: 40px;
    right: 60px;
    background-color: #fff;
}

.text1 {
    width: 100%;
    height: 300px;
    color: #333;
    text-indent: 20px;
}

.yuIcon {
    display: block;
    width: 200px;
    height: 200px;
}

.loading {
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(images1/bgcon.svg);

}

.lodtit {
    display: block;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 500px;
    left: 60%;
    font-size: 30px;
}


.pageNation {
    width: 400px;
    height: 87px;
    position: fixed;
    bottom: 120px;
    left: 220px;
    z-index: 300;
    border-top: 2px solid #888;
    box-sizing: border-box;

}

.pageNation label {
    display: block;
    width: 25%;
    height: 20px;
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    margin-top: 9px;
    text-shadow: 1px 1px 1px #000;
    text-indent: 20px;
    transform: rotate(30deg);
    cursor: pointer;
}

.conWrap li:eq(0).con.on {
    width: 6%;
}

.pgN.on {
    color: firebrick;
    border-bottom: 5px solid rgba(250, 50, 50, 0.5);

}

.pgN.on1 {
    color: skyblue;
    border-bottom: 5px solid rgba(50, 50, 250, 0.5);
}

#page1 {

    color: #333;
}



#page3 {
    background-color:#ffffff;
}

#page4 {
    background-color: #c5d4d9;
}

/*page1*/

#page1 .pgWrap {
    width: 1000px;
    height: 73%;
    margin: 190px auto;
}

.pgTit,
.rigpgTit {
    font-size: 48px;
    font-weight: bold;
    color: #1e005f;
    font-family: 'Archivo Narrow', sans-serif;
}

.left {
    width: 100%;
    float: left;
    height: 49%;
    position: relative;
}

.abContent {
    width: 100%;
    height: 96%;
}

.abContent li {
    width: 32%;
    float: left;
    height: 100%;
    background-color: #f5f5f5;
    margin-right: 17px;
    box-sizing: border-box;
    padding: 12px;
    border-bottom: 2px solid #bbbbbb;
}



#page1 .textWrap {
    width: 100%;
    height: 50%;
    position: static;
    padding: 0;
    float: right;
    /* margin-top: 20px; */
    background-color: transparent;
}

.abContent li:last-child {
    margin-right: 0;
}


.abName {
    font-size: 18px;
    color: #11035d;
    font-weight: bold;
    display: block;
    border-bottom: 3px solid #07791a;
    width: 100%;
    text-indent: 5px;
    height: 36px;
    /* background: #080142; */
    line-height: 36px;
}

span.date1 {
    color: #999;
    font-size: 13px;
}

.num2 {
    font-size: 60px;
    color: #200a77;
    font-family: 'Anton', sans-serif;
    line-height: 1;
}

#page1 .leftbg {
    width: 28%;
    float: left;
    height: 100%;
    background-image: url(images1/page2bg.png);
    background-attachment: fixed;
}

.light {
    font-weight: 300;
}

p.abCom {
    font-size: 15px;
    display: block;
    font-weight: bold;
    margin-top: 8px;
    width: 94%;
    margin: 8px auto;
}
.right {
    width: 1000px;
    height: 55%;
    /* margin-top: 23px; */
    clear: both;
    background-position: left top;
    background-size: 31%;
    background-repeat: no-repeat;
    background-image: url(images1/award-01.png);
}


.rigpg {
    width: 64%;
    height: 100%;
    float: right;
    margin-top: 11px;

}

.awd1 {
    width: 100%;
    height: 30%;
    clear: both;
}


.rigpgTit {
    display: block;
    width: 20%;
    float: left;
}

h4.name {
    font-size: 20px;
}

span.cor {
    display: block;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

span.date2 {
    color: #666;
    font-size: 16px;
}





#page2 {
    background-color: #13084e;
}

.keywordBox {
    width: 33%;
    height: 700px;
    float: left;
}


.keyWrap {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.keyWrap li {
    float: left;
    width: 31%;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 5px;
    height: 40px;
}
.ck3 {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    color: #666;
}
.keyWrap li:nth-child(2n-1):hover {

    background: linear-gradient(-45deg, #e210ba, #1baa29, #65c178, #1f0c72);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
    



.keyWrap li:hover .ck3{
    color: #fff;
}
.keyWrap li:nth-child(2n):hover {
    

    background: linear-gradient(-45deg, #c41278, #2e0ac4, #09227f, #1f0c72);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}





#toFirst{
    width: 50px;
    height: 80px;
    background-color: #000;
    border-radius: 50px;
    float: right;
    
}



#page3 .textWrap{
   left: 0;
}
h2.na1 {
    font-size: 37px;
    color: #44545d;
}

.labelBox{
    width: 44%;
    position: absolute;
    left: 0;
    height: 50px;
}

.labelBox label{
    display: block;
    width: 30%;
    float: left;
    box-sizing: border-box;
    height: 37px;
    border: 4px solid #fff;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

    

.labelBox label:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
}

section.workpage2 {
    width: 100%;
    height: 100%;
    float: right;
}
.WorkconWrap > div{
    width: 33.33333%;
    margin-right:0px;
    height: auto;
    /* margin-left: -802px; */
}
.wTit{
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    color: #ddd
}


.WorkWrap{
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 57px;
}
    
        
.WorkWrap li{
    width: 32%;
    height: 254px;
    background: #fff;
    margin-bottom: 10px;
    float: left;
    margin-right: 8px;
}

.WorkWrap li a{
    display: block;
    width: 100%;
      box-sizing: border-box;
    height: 100%;
      padding: 50px;
    color: #fff;
    position: relative;
    background-position: center center;
    background-size:cover;
}
 

.workTextWrap{
    width: 100%;
    height: 100%;
}

.workTextWrap div{
    width: 33.3333%;
    float: left;
}
.workTextWrap span{
    font-size: 30px;
    display: block;
    text-align: center;
}
    
.workTextWrap p{
    font-size: 18px;
    color: #fff;
    text-align: center;
}

    section.workpage2 {
    overflow: hidden;
}

.WorkconWrap > div {
    float: left;
}

.WorkconWrap {
    margin-left: 0;
    width: 300%;
}  


.pgBtn.on{
    color: red;
}



.workTextWrap{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding: 60px;
    padding-top: 102px;
    top: 0;
   
}

.workTextWrap.on{
    background: linear-gradient(-45deg, #c41278, #2e0ac4d1, #09227f21, #1f0c7200);
    background-size: 100% 100%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 0.4s ease infinite;
}

#page4 .pgWrap {
    width: 500px;
    height: 600px;
    border: 35px solid #fddd;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

ul.contectlist li a {
    display: block;
    font-size: 18px;
    color: #000;
}

ul.contectlist li {
    height: 59px;
    width: 100%;
    font-size: 19px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}





html,

body {

    width: 100%;

    height: 100%;

}



body {

    font-family: 'Noto Sans KR', sans-serif;

}



ul {

    list-style: none;

}



a {

    text-decoration: none;

}



.Wrap {

    -ms-overflow-style: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;


}


.loading {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4d4844;
    box-sizing: border-box;
    padding-top: 400px;
    cursor: pointer;
}


img {
    display: block;
    width: 100%;
    height: 100%;
}





.pageWrap {

    width: 100%;

    height: 100%;

}





.loading img {

    display: block;

    width:auto;

    height: 100%;

    position: absolute;
    left: 50px;
    top:0;
    



}



.as1 {

    width: auto;

    height: 100%;

    background-color: #ffffff;

    position: fixed;

    z-index: 999;
}

.asWrap {

    width: 80px;

    height: 100%;

    border-right: 2px solid #999;

    box-shadow: 2px 0 2px #ddd;

    position: relative;

    padding-top: 20px;

    z-index: 9999;

    padding-left: 20px;
    background-color: #fff;
    box-sizing: border-box;
}

.logo {

    display: block;

    width: 80px;

    height: 78px;

    background-image: url(images1/fv_01.png);

    position: absolute;

    left: 0;

    background-repeat: no-repeat;

    background-position: center top;

    background-size: 66px;
}

.open {

    width: 860px;

    height: 103%;

    position: absolute;

    float: left;

    top: 0;

    /* margin-top: -20px; */

    /* margin-left: -1000px; */

    box-sizing: border-box;

    padding: 50px;

    transition: 1s;

    background-color: #0a0a42;

    left: -1000px;
}

.open.on {

    left: 80px;
    top: 0;
}





.ck1 {

    display: block;

    width: 68px;

    height: 120px;


    left: 3px;

    font-weight: bold;

    position: absolute;

    top: 500px;

    cursor: pointer;

    transition: 0.5s;
    color: #ddd;

    text-shadow: 1px 2px 0 #333;

    text-align: center;

    font-size: 20px;
    display: block;

}




.ck1:hover {

    color: #458f54;

}



.meTit {

    font-size: 20px;

    color: #eee;

}

.menu {

    width: 100%;

    height: 100%;

}



.menu li {

    line-height: 40px;

}





.menu li a {

    font-size: 40px;

    color: #ffffff;

    font-weight: bold;

}



.contact {
    font-size: 20px;
    position: absolute;
    color: #fff;
    top: 470px;

}



.menuWrap .hcon {

    display: block;

    width: 0;

    height: 20px;

    background-color: #458f54;

    transition: 0.5s;

}

.tot {
    color: #fff;
}

.git {
    display: block;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

#op {

    display: none;

}

.menu li:hover a {

    color: #458f54;

}

.menu li:hover .hcon {

    display: block;

    width: 300px;

}

h2.num.pg00 {
    text-indent: 84px;
}

h2.num.pg00:after {
    left: 165px;
}




.main {

    width: 100%;

    float: right;

    height: 100%;

    /* margin-top: 60px; */

    position: relative;


}

.contentWrap {
    width: 500%;
    height: 100%;
}

.content {
    width: 20%;
    height: 100%;
    float: left;
}

.pgTit {
    font-family: 'Nanum Myeongjo', serif;

}

.area1 {
    width: 100%;
    height: 900px;
}

#visual {
    background-image: url(images1/bg1.png);
    background-attachment: fixed;

    /* height: 450px; */
    box-sizing: border-box;
}

.pgWrap {
    width: 1280px;
    height: 76%;
    margin: 300px auto;
    padding: 20px;
    overflow: hidden;
    position: relative;
    background-repeat: no-repeat;
    box-sizing: border-box;
}


#visual .pgWrap {
    background-position: left center;
    background-image: url(images1/bgcon.svg);
    background-size: 52%;
    opacity: 0;
}

#visual .pgTit {
    color: #222;
    font-weight: lighter;
    float: left;
    font-size: 33px;
    display: block;
    height: 200px;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    /* position: absolute; */
    /* top: 366px; */
    /* left: 339px; */
}

#visual .pgTit strong {
    font-weight: 900;
}

#visual .pgTit:after {
    display: block;
    content: "";
    position: absolute;
    width: 90%;
    top: 203px;
    left: -89px;
    height: 16px;
    background-color: #148c0c;
}

.textWrap {
    width: 44%;
    height: 500px;
    position: absolute;
    top: 130px;
    box-sizing: border-box;
    padding: 40px;
    right: 60px;
    background-color: #fff;
}

.text1 {
    width: 100%;
    height: 300px;
    color: #333;
    text-indent: 20px;
}

.yuIcon {
    display: block;
    width: 200px;
    height: 200px;
}

.loading {
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center left;
    background-image: url(images1/bgcon.svg);

}

.lodtit {
    display: block;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 500px;
    left: 60%;
    font-size: 30px;
}


.pageNation {
    width: 400px;
    height: 87px;
    position: fixed;
    bottom: 120px;
    left: 220px;
    z-index: 300;
    border-top: 2px solid #888;
    box-sizing: border-box;

}

.pageNation label {
    display: block;
    width: 20%;
    height: 20px;
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    margin-top: 9px;
    text-shadow: 1px 1px 1px #000;
    text-indent: 20px;
    transform: rotate(30deg);
    cursor: pointer;
}

.conWrap li:eq(0).con.on {
    width: 6%;
}

.pgN.on {
    color: firebrick;
    border-bottom: 5px solid rgba(250, 50, 50, 0.5);

}

.pgN.on1 {
    color: skyblue;
    border-bottom: 5px solid rgba(50, 50, 250, 0.5);
}

#page1 {

    color: #333;
}



#page3 {
    background-color:#ffffff;
}

#page4 {
    background-color: #c5d4d9;
}

/*page1*/

#page1 .pgWrap {
    width: 1000px;
    height: 73%;
    margin: 190px auto;
}

.pgTit,
.rigpgTit {
    font-size: 48px;
    font-weight: bold;
    color: #1e005f;
    font-family: 'Archivo Narrow', sans-serif;
}

.left {
    width: 100%;
    float: left;
    height: 49%;
    position: relative;
}

.abContent {
    width: 100%;
    height: 96%;
}

.abContent li {
    width: 32%;
    float: left;
    height: 100%;
    background-color: #f5f5f5;
    margin-right: 17px;
    box-sizing: border-box;
    padding: 12px;
    border-bottom: 2px solid #bbbbbb;
}



#page1 .textWrap {
    width: 100%;
    height: 50%;
    position: static;
    padding: 0;
    float: right;
    /* margin-top: 20px; */
    background-color: transparent;
}

.abContent li:last-child {
    margin-right: 0;
}


.abName {
    font-size: 18px;
    color: #11035d;
    font-weight: bold;
    display: block;
    border-bottom: 3px solid #07791a;
    width: 100%;
    text-indent: 5px;
    height: 36px;
    /* background: #080142; */
    line-height: 36px;
}

span.date1 {
    color: #999;
    font-size: 13px;
}

.num2 {
    font-size: 60px;
    color: #200a77;
    font-family: 'Anton', sans-serif;
    line-height: 1;
}

#page1 .leftbg {
    width: 28%;
    float: left;
    height: 100%;
    background-image: url(images1/page2bg.png);
    background-attachment: fixed;
}

.light {
    font-weight: 300;
}

p.abCom {
    font-size: 15px;
    display: block;
    font-weight: bold;
    margin-top: 8px;
    width: 94%;
    margin: 8px auto;
}
.right {
    width: 1000px;
    height: 55%;
    /* margin-top: 23px; */
    clear: both;
    background-position: left top;
    background-size: 31%;
    background-repeat: no-repeat;
    background-image: url(images1/award-01.png);
}


.rigpg {
    width: 64%;
    height: 100%;
    float: right;
    margin-top: 11px;

}

.awd1 {
    width: 100%;
    height: 30%;
    clear: both;
}


.rigpgTit {
    display: block;
    width: 20%;
    float: left;
}

h4.name {
    font-size: 20px;
}

span.cor {
    display: block;
    color: #333;
    font-size: 18px;
    font-weight: bold;
}

span.date2 {
    color: #666;
    font-size: 16px;
}





#page2 {
    background-color: #13084e;
}

.keywordBox {
    width: 33%;
    height: 700px;
    float: left;
}


.keyWrap {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.keyWrap li {
    float: left;
    width: 31%;
    margin-top: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 5px;
    height: 40px;
}
.ck3 {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    color: #666;
}
.keyWrap li:nth-child(2n-1):hover {

    background: linear-gradient(-45deg, #e210ba, #1baa29, #65c178, #1f0c72);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}
    



.keyWrap li:hover .ck3{
    color: #fff;
}
.keyWrap li:nth-child(2n):hover {
    

    background: linear-gradient(-45deg, #c41278, #2e0ac4, #09227f, #1f0c72);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}





#toFirst{
    width: 50px;
    height: 80px;
    background-color: #000;
    border-radius: 50px;
    float: right;
    
}



#page3 .textWrap{
   left: 0;
}
h2.na1 {
    font-size: 37px;
    color: #44545d;
}

.labelBox{
    width: 44%;
    position: absolute;
    left: 0;
    height: 50px;
}

.labelBox label{
    display: block;
    width: 30%;
    float: left;
    box-sizing: border-box;
    height: 37px;
    border: 4px solid #fff;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

    

.labelBox label:nth-child(2){
    margin-left: 5%;
    margin-right: 5%;
}

section.workpage2 {
    width: 100%;
    height: 100%;
    float: right;
}
.WorkconWrap > div{
    width: 33.33333%;
    margin-right:0px;
    height: auto;
    /* margin-left: -802px; */
}
.wTit{
    display: block;
    width: 400px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    color: #ddd
}


.WorkWrap{
    width: 100%;
}
    
        
.WorkWrap li{
    width: 32%;
    height: 237px;
    background: #fff;
    margin-bottom: 10px;
}

.WorkWrap li a{
    display: block;
    width: 100%;
      box-sizing: border-box;
    height: 100%;
      padding: 50px;
    color: #fff;
    position: relative;
    background-position: center center;
    background-size:cover;
}
 

.workTextWrap{
    width: 100%;
    height: 100%;
}

.workTextWrap div{
    width: 33.3333%;
    float: left;
}
.workTextWrap span{
    font-size: 30px;
    display: block;
    text-align: center;
}
    
.workTextWrap p{
    font-size: 18px;
    color: #fff;
    text-align: center;
}

    section.workpage2 {
    overflow: hidden;
}

.WorkconWrap > div {
    float: left;
    width: 33.3%;
}

.WorkconWrap {
    margin-left: 0;
    width: 301%;
}  


.pgBtn.on{
    color: red;
}



.workTextWrap{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    box-sizing: border-box;
    padding: 60px;
    padding-top: 102px;
    top: 0;
   
}

.workTextWrap.on{
    background: linear-gradient(-45deg, #c41278, #2e0ac4d1, #09227f21, #1f0c7200);
    background-size: 100% 100%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 0.4s ease infinite;
}

#page4 .pgWrap {
    width: 500px;
    height: 600px;
    border: 35px solid #fddd;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

ul.contectlist li a {
    display: block;
    font-size: 18px;
    color: #000;
}

ul.contectlist li {
    height: 59px;
    width: 100%;
    font-size: 19px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}


